body {
    background-image: url(../images/outer-space-wallpaper-pictures.jpg);
    color: azure;
    font-size: 20px;
}

.header {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 5px;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    background: rebeccapurple;
    font-size: 40px;
    font: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.instructions {
    width: 50%;
    background: tomato;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 2px solid whitesmoke;
    border-radius: 15px; 
    padding: 5px;
}

.number, .wins-losses {
    width: 10%;
    height: 65px;
    background: steelblue;   
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 5px;
    border: 2px solid whitesmoke;
    border-radius: 15px; 

}

.scoreMessage{    
    width: 10%;
    height: 20px;
    background: seagreen;   
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 5px;
    border: 2px solid whitesmoke;
    border-radius: 15px; 


}

.scoreBox {
    width: 10%;
    height: 65px;
    background: seagreen;   
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 5px;
    border: 2px solid whitesmoke;
    border-radius: 15px; 

}

img {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    border: white 3px solid;
}